/* Contact Form */
.contact {
    background-color: #ffffff;
}

.contact .container {
    padding-bottom: 40px;
}

.contact .contact-form {
    background-color: #D3D3D3;
    max-width: 800px;
    margin: 0 auto; /* Center the form */
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}