* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #A9A9A9;
    --dark-color: #333;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    max-width: 400px;
    max-height:75px;
    margin-bottom: 20px;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color)
}

.navbar ul li a i {
    margin-right: 10px;
}

/* Footer */
.footer {
    padding: 40px 0;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.0;
    padding-bottom: 2px;
}

.footer a {
    color: #ccc;
    transition: all 0.3s ease;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .arrow-box {
    display: flex;
    justify-content: center;
}

.arrow-bounce {
    display: inline-block;            
    animation: bounceArrow 2s infinite alternate ease-in-out;
  }
  
@keyframes bounceArrow {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);   
    }
}

.footer .arrow-box i {
    font-size: 2rem;
    margin-bottom: 5px;
}

.footer-download {
    height: 150px;
    background-color: #fff;
    border: 5px solid #909090;
    border-radius: 10px;
}

.footer .download {
    padding-top: .3rem;
    padding-bottom: .5rem;
}

#file,
#file:visited {
    color: #fff;
    text-decoration: none;
}

.footer .social i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer .card {
    margin: 20px 30px 30px;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Card */
.card {
    flex: 0 0 250px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-short {
    display: block;
    width: 65%;
    margin: auto;
}

/* Text Classes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-dark {
    color: #000;
}

.text-light {
    color: #fff;
}

.text-center {
    text-align: center;
}

/* Background */
.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-light {
    background: var(--light-color);
    color: #000;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.bg-black {
    background: #000;
    color: #fff;
}